.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22rem;
    height: 200px;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}