.onRide {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #30053837;
}

.onRide__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 30rem;
    margin-top: 5rem;
    padding: 20px;
}

.onRide__header {
    display: flex;
    text-align: center;
    gap: 10px;
    color: #2c242db3;
}

.onRide__header p {
    font-size: 11px;
    font-weight: 600;
}

.onRide__date {
    font-size: 1.2rem;
    color: #201621c5;
}

.onRide__cost {
    font-size: 1.5rem;
    color: #201621c5;
}

.onRide__cost b {
    font-size: 1.5rem;
}

.MuiButtonBase-root {
    width: 200px;
}

.onRide__timerCounter {
    display: flex;
    font-size: 3rem;
}