.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    background-color: #edf2f4;
}

a {
    text-decoration: none;
    color: #9c27b0;
}

a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}