.map {
    width: 100vw;
    height: calc(100vh - 5rem);
}

.scooter-card {
    width: 100px;
    height: 150px;
    font-size: 1.2rem;
}

.ymaps-2-1-79-map ymaps, .ymaps-2-1-79-map ymaps:after, .ymaps-2-1-79-map ymaps:before {
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

.start-ride {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-top: 30px;
  padding: .25rem 0.5rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-ride:hover {
  background-color: #9b27b038;
}

.start-ride:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.start-ride:focus-visible {
  box-shadow: none;
}

.hidden {
  visibility: hidden;
  height: 0;
}