.history {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 5rem);
    padding: 20px;
    background-color: #30053837;
}

.history__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 50rem;
    height: 100%;
    gap: 5em;
}

.hidden {
    visibility: hidden;
    height: auto;
}